.buymain{  
    
        background: url('img/1.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
      }


.add-to-cart{
    position: absolute;
    right: 23px;
    top: 20px;
    
}
.count{
    position: absolute;
    top:-5px;
    right:0;
    font-size: larger;
    color: rgb(6, 14, 19);

}
.main{

margin-left: auto;
margin-right: auto;

position:relative;
top:100px;
left: 600px;
  


}
